{% extends "base.html" %}
    {% block body_block %}

    <h1>CREAR ACTIVIDAD</h1>
<!--    Formulario creado en forms.py que crea un nuevo módulo-->
<!--        <form action="{% url 'calc_app:ciclo_new' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->

<!--        <input type="submit" name="" value="Continuar">-->
<!--    </form>-->

<!--<div class="table-responsive">-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <td scope="col"><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample">RA1</a></td>-->
<!--        <td scope="col"><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseExample">RA2</a></td>-->
<!--        <td scope="col"><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample">RA3</a></td>-->
<!--        <td scope="col"><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample">RA4</a></td>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <th class="accordion-toggle collapsed"-->
<!--        id="accordion1"-->
<!--        data-mdb-toggle="collapse"-->
<!--        data-mdb-parent="#accordion1"-->
<!--        href="#collapseOne"-->
<!--        aria-controls="collapseOne"-->
<!--      >-->
<!--&lt;!&ndash;        <td class="btn btn-primary" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Cell</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Cell</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>Cell</td>&ndash;&gt;-->

<!--      </th>-->
<!--      <th class="hide-table-padding">-->
<!--&lt;!&ndash;        <th colspan="1">&ndash;&gt;-->
<!--          <div id="collapseOne" class="collapse in p-3">-->
<!--            <div class="row">-->
<!--              <div CLASS="col-1"><input  type="checkbox" placeholder="Company name"> CE1 </div>-->
<!--              <div class="col-1">value 1</div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div CLASS="col-1"><input  type="checkbox"  placeholder="Company name"> CE2 </div>-->
<!--                <div class="col-1">value 2</div>-->
<!--              </div>-->
<!--            <div class="row">-->
<!--                <div CLASS="col-1"><input  type="checkbox" placeholder="Company name"> CE3 </div>-->
<!--                <div class="col-1">value 3</div>-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;      </th>&ndash;&gt;-->
<!--      </th>-->
<!--      <th class="hide-table-padding">-->
<!--&lt;!&ndash;        <th colspan="1">&ndash;&gt;-->
<!--          <div id="collapseTwo" class="collapse in p-3">-->
<!--            <div class="row">-->
<!--              <div CLASS="col-1"><input  type="checkbox" placeholder="Company name"> CE1 </div>-->
<!--              <div class="col-1">value 5</div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div CLASS="col-1"><input  type="checkbox"  placeholder="Company name"> CE2 </div>-->
<!--                <div class="col-1">value 3</div>-->
<!--              </div>-->
<!--            <div class="row">-->
<!--                <div CLASS="col-1"><input  type="checkbox" placeholder="Company name"> CE3 </div>-->
<!--                <div class="col-1">value 6</div>-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;      </th>&ndash;&gt;-->
<!--      </th>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->



<!--<table class="table table-bordered table-striped">-->
<!--            <tr>-->
<!--                <td>-->
<!--                  <button type="button" class="btn" data-toggle="collapse" data-target="#collapseExample">-->
<!--                    Click to expand-->
<!--                  </button>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr class="collapse" id="collapseme"><td><div>Should be collapsed</div></td></tr>-->
<!--</table>-->


    {% endblock %}